.screens-1 {
    position: relative;
}
.chart-women {
    background-color: #00a8e1;
}
.chart-men {
    background-color: #000;
}
.chart-label {
    position: absolute;
    top: 0px;
    left: 0px;
}
.fill-block {
    position: absolute;
    top: 0px;
    left: 0px;
}
.chart-women .fill-block {
    background-image: url(images/171002-rf-chart-fill-women.png);
    background-position:  left top;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    height: 1080px;
}

.fill-women-52 {
    width: 1486px;
}
 
@-webkit-keyframes fadeIn { from { opacity:0; left:-1020px; } to { opacity:1; left: 0px; } }
@-moz-keyframes fadeIn { from { opacity:0; left:-1920px; } to { opacity:1; left: 0px; } }
@keyframes fadeIn { from { opacity:0; left:-1920px; } to { opacity:1; left: 0px; } }
 
.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 3s;
-moz-animation-delay: 3s;
animation-delay: 3s;
}
 
.fade-in.two {
-webkit-animation-delay: 6s;
-moz-animation-delay: 6s;
animation-delay: 6s;
}