.chart-bg-w {
	background-image: url("chart/170928_chart-bg-w.png");
	background-size: 1920px 2160px;
}
.chart-bg-m {
	background-image: url("chart/170928_chart-bg-m.png");
	background-size: 1920px 2160px;
}
.chart-block {
    position: relative;
    width: 1920px;
    height: 2160px;
}
.chart-block-data {
    position: relative;
    width: 5760px;
    height: 2160px;
}
.img-data {
    position: absolute;
    top: 0px;
    left: 0px;
}
.columns-1 {
    float: left;
}
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 3s;
-moz-animation-delay: 3s;
animation-delay: 3s;
}
 
.fade-in.two {
-webkit-animation-delay: 6s;
-moz-animation-delay: 6s;
animation-delay: 6s;
}