body {
	margin: 0px;
	padding: 0px;
}
.screens-1 {
	position: relative;
    float: left;
	width: 1920px;
	height: 1080px;
}
.screens-2-1 {
	position: relative;
	width: 3840px;
	height: 1080px;
}
.screens-2-2 {
	position: relative;
	width: 3840px;
	height: 2160px;
}
.screens-1-2 {
	position: relative;
	width: 1920px;
	height: 2160px;
}
.screens-1-3 {
	position: relative;
	width: 1920px;
	height: 3240px;
}
.columns-1 {
	position: relative;
	width: 1920px;
	height: 4320px;
}
.columns-3 {
	position: relative;
	width: 5760px;
	height: 4320px;
}
.columns-4 {
	position: relative;
	width: 7680px;
	height: 4320px;
}
.rows-3 {
	position: relative;
	width: 5760px;
	height: 1080px;
}
.rows-4 {
	position: relative;
	width: 7680px;
	height: 1080px;
}

.holding {
	background-color: rgb(0,0,0);
	float: left;
}

#holding-group-1 #holding-screen-4 {
	background-image: url("images/170926-rf-startscreen-66.png");
	background-size: 5760px 1080px;
	background-repeat: no-repeat;
}
#holding-group-4 #holding-screen-4 {
	background-image: url("images/170926-rf-startscreen-66.png");
	background-size: 5760px 1080px;
	background-repeat: no-repeat;
}
#holding-group-5 #holding-screen-4 {
	background-image: url("images/170926-rf-startscreen-66.png");
	background-size: 5760px 1080px;
	background-repeat: no-repeat;
}
#holding-group-2 #holding-screen-5 {
	background-image: url("images/170926-rf-startscreen-70.png");
	background-size: 7680px 1080px;
	background-repeat: no-repeat;
}
#holding-group-3 #holding-screen-4 {
	background-image: url("images/170926-rf-startscreen-67.png");
	background-size: 5760px 1080px;
	background-repeat: no-repeat;
}
#holding-group-3 #holding-screen-5 {
	background-image: url("images/170926-rf-startscreen-71.png");
	background-size: 5760px 1080px;
	background-repeat: no-repeat;
}


#holding-2-group-1 #holding-screen-4 {
	background-image: url("images/170926-rf-startscreen-66.png");
	background-size: 5760px 1080px;
	background-repeat: no-repeat;
}